# Environment Variables
.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Dependency directories
node_modules/
.pnpm-store/

# IDE and editor settings
.idea/
.vscode/
*.iml
*.code-workspace

# Compiled output
dist/

# Coverage reports
coverage/

# OS-specific files
.DS_Store
Thumbs.db